<!DOCTYPE html>
<html>
<head>
	<title>yape</title>
	<link rel="stylesheet" type="text/css" href="../materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="../css/vista2.css">
</head>
<body>
<div class="container">
	<div class="row">
	<div class="col s12">
		<img src="../img/lockone.png">
	</div>

	</div>
	<div class="row">
		<div class="col s12">
			<h2>Crea tu usuario Yape</h2>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<p>Ingresa un nombre, email y clave de usuario</p>
		</div>
	</div>
	  <div class="row">
    <div class=" col s12">

          <i class="material-icons prefix">
						<img class="icono" src="../img/user.png">
					</i>
					<label for="icon_prefix">Nombre</label>
          <input id="icon_prefix" type="text" class="validate">
          
        </div>
          <div class=" col s12">

          <i class="material-icons prefix">
						<img class="icono" src="../img/message-gray.png">
					</i>
					<label for="icon_prefix">correo@ejemplo.com</label>
          <input id="icon_prefix" type="text" class="validate">
          
        </div>
         <div class=" col s12">

          <i class="material-icons prefix">
						<img class="icono" src="../img/lock.png">
					</i>
					<label for="icon_prefix">Ingresa clave de 6 digitos</label>
          <input id="icon_prefix" type="text" class="validate">
          
        </div>

				<div class="row">
					<div class="col s12">
						<p>Cuida esta clave como oro es tu acceso a Yape</p>

					</div>

				</div>
				<a class="btn waves-effect waves-light disabled" name="action" id="validando" href="vista3.html" >Crear cuenta

  </a>
    </div>
	
  </div>
</div>
<script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../materialize-css/dist/js/materialize.min.js"></script>

</body>
</html>